body{
  margin: 0;
  padding: 0;
  background-color:#f3eeed;
}
.navbar{
  display: flex;
  padding: 20px 56px;
  background-color: #5089C6;

}

.nav-text{
  display: flex;
  margin: 10px 0 0 460px;
}
.text{
  padding: 0 30px;
  /* font-size: 25px; */
}
.text a{
  text-decoration: none;
  color: white;
  font-family: system-ui;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;

  /* background-color: rgb(255, 117, 153); */
  padding: 5px 40px;
  border-radius: 10px;
}
.brand{
  margin-left: 65px;
  font-size: 40px;
  font-family: fantasy;
  /* font-family: system-ui; */
}
.nav-text{
  font-family: system-ui;
}
.text a:hover{
  color: #f3eeed;
  /* backgroun
  d-color: rgb(148, 102, 234); */
  /* text-decoration: underline; */
  border-radius: 10px;
}
.section{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 70px;


}

.item1{
  /* border: 2px solid  red; */
  height: 700px;
  margin: 5px 0px 5px 15px;
}
.item2{
  /* border: 2px solid  red; */
  height: 700px;
  margin: 5px 80px 5px 0;
}
.section-text{
  font-size: 112px;
  margin-left: 100px;
  color: rgb(148, 102, 234);
  font-weight: 500;
  font-family: system-ui;
}
.section p{
  font-size: 30px;
  margin-left: 100px;
}
.btn button{
  font-size: 27px;
    padding: 10px 65px;
    border-radius: 13px;
    margin-left: 100px;
    cursor: pointer;
    background-color: rgb(255, 117, 153);
    color: white;
    font-weight: 700;
    border: none;
    /* border-color: rgb(255, 117, 153); */
}
.btn button:hover{
  background-color: rgb(148, 102, 234);
  /* border-color: rgb(148, 102, 234);
   */
   border: none;
}
.item2 img{
  margin-top: 50px;
  margin-left: 20px;
  height: 400px;
  width: 400px;
  border: 10px solid rgb(148, 102, 234);
  border-radius: 100%;
}
.second-page{
  display: flex;
  /* border: 2px solid red; */
  height: 900px;
  margin-top: 100px;
}
.second-left{
  height: 890px;
  width: 400px;
  /* border: 2px solid grey; */
  margin-left: 100px;
  background-color: rgb(148, 102, 234);
  border-radius: 15px;
  padding-top: 40px;
}
.profile{
  text-align: left;
  margin-left: 38px;
  margin-top: 22px;
  color: white;
  padding: 10px;
}
.profile span{
  letter-spacing: 3px;
  font-size: 16px;
  font-family: system-ui;

}
.profile div{
  font-size: 23px;
  margin-top: 9px;
  font-family: sans-serif;
}
.link a{
  text-decoration: none;
  color: white;
}
.second-page{
  margin-left: 20px;
}
.second-right{
  /* border: 2px solid red; */
  width: 870px;
}
.right-top{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.exp{
  /* border: 2px solid red; */


}
.exp span{
  display: block;
  padding-top: 35px;
  font-size: 85px;
  color: rgb(255, 117, 153);
  font-weight: 700;
  margin-bottom: 26px;
}
.exp{
  padding: 10px 50px;
}
.exp div{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: system-ui;
  color:rgb(148, 102, 234);
  margin-top: 40px;
}
.objects-grid1{
  margin: 0 300px 0 0;
}
.right-bottom{
  width: 600px;
text-align: left;
margin-left: 55px;
}
.heading h1{
  font-size: 39px;
  color: rgb(148, 102, 234);
  font-family: system-ui;
}
.heading-content p{
  font-family: system-ui;
  color: black;
  font-size: 22px;
  letter-spacing: 1px;
}
.btn2 button{
  margin-top: 25px;
  font-size: 27px;
    padding: 10px 80px;
    border-radius: 13px;
    margin-left: 7px;
    cursor: pointer;
    background-color: rgb(255, 117, 153);
    color: white;
    font-weight: 700;
    /* border-color: rgb(255, 117, 153); */
    border: none;
}
.btn2 button:hover{
  background-color: rgb(148, 102, 234);
  /* border-color: rgb(148, 102, 234); */
  border: none;
}
.third-page{
  text-align: center;
  width: 65%;
  margin: 142px 240px;
  height: 1000px;
  /* border: 2px solid red; */
}
.top-section h1{
  font-size: 57px;
    font-family: system-ui;
    color: rgb(148, 102, 234);
}
.top-section p{
  font-size: 25px;
    font-family: system-ui;
    margin: 0 113px;
}
 .top-section hr{
    margin-top: 29px;
    height: 2px;
    background-color: rgb(148, 102, 234);
}
#education{
  text-align: left;
  font-family: system-ui;
  font-size: 35px;
  font-weight: 50;
}
.lower-section{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.experience{
  /* border: 2px solid red; */
}
.college{
  font-size: 20px;
    font-family: system-ui;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    color:rgb(85, 92, 102);
}
.degree h1{
  text-align: left;
  font-size: 25px;
  font-family: system-ui;
  color: rgb(148, 102, 234);
}
.degree p{
  text-align: left;
  font-size: 20px;
  font-family: system-ui;
  line-height: 1.5;
  letter-spacing: 1px;
}
.degree{
  margin-left: 30px;
}
.fourth-page{
  margin-top: 200px;
  height: 800px;
  width: 100%;
  /* border : 2px solid/ red; */

}
.fourth-page img{
  height: 800px;
  width: 200vh;
  position: absolute;
}
.overload{
  /* border: 2px solid red; */
  position: absolute;
  left: 333px;
   width: 60%;
   height: 600px;
   background-color: white;
   margin-top: 100px;
   border-top: 20px solid rgb(148, 102, 234);
}
.quotes{
  font-size: 200px;
}
.logo-image img{
  margin: 93px 350px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 10px solid #f29b04;
}
.content-overload{
  position: absolute;
  top: 300px;
  text-align: center;
  font-size: 30px;
}
.head span{

  font-size: 21px;
  font-family: cursive;
}
.head h4{
  margin-bottom: 13px;
}
.fifth-page{
  position: relative;
  height: 1500px;
  width: 100%;
  /* border: 2px solid brown; */
}
.background-pink{
  height: 1100px;
  width: 45%;
  position: absolute;
  left: 380px;
  top: 200px;
  background-color:rgb(255, 117, 153) ;
  border-radius: 20px;
}
.photo-grid{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  position: absolute;
  grid-gap: 20px;
  top: 300px;
  left: 200px;
}
.pic img{
  height: 350px;
  width: 350px;
}
.our-Portfolio{
  position: absolute;
  top: 950px;
  /* left: 860px; */
  right: 100px;
  background-color: white;
  height: 480px;
  width: 450px;
  border-radius: 15px;
}
.our-Portfolio h2{
  color: rgb(148, 102, 234);
  font-size: 48px;
  text-align: left;
    font-family: serif;
    font-weight: 700;
    margin-left: 25px;

}
.our-Portfolio p{
  letter-spacing: 1px;
  font-family: system-ui;
  font-size: 20px;
  margin: 0 25px;
  line-height: 1.5;
}
.our-Portfolio button{
  font-size: 20px;
    font-weight: 700;
    padding: 13px 45px;
    border-radius: 10px;
    margin: 60px 30px;
    color: white;
    background-color: rgb(255, 117, 153);
    /* border-color: rgb(255, 117, 153); */
    border: none;
}
.our-Portfolio button:hover{
  background-color: rgb(148, 102, 234);
  /* border-color: rgb(148, 102, 234); */
  border: none;
}
.sixth-page{
  position: relative;
  height: 750px;
  width: 100%;
  /* border: 2px solid; */

}
.sixth-left{
  position: absolute;
  height: 600px;
  width: 30%;
  /* border: 2px solid; */
  left: 200px;
  top: 67px;
}
.sixth-left h4{
  font-size: 20px;
    font-weight: 300;
    color: rgb(148, 102, 234);
}
.sixth-left h2{
  font-size: 37px;
  color: rgb(148, 102, 234);
    font-family: system-ui;
}
.time{
  font-size: 20px;
    line-height: 1.5;
    color: rgb(148, 102, 234);
}
.email1{
  margin-top: 20px;

}
.email1 a{
  font-size: 25px;
  color: rgb(255, 117, 153);
  font-weight: 700;
}
.sixth-left h3{
  font-size: 24px;
    font-family: monospace;
    color: rgb(148, 102, 234);
}
.copyright{
  font-size: 19px;
  color:rgb(148, 102, 234);
}
.sixth-right{
    /* border: 2px solid; */
    height: 729px;
    width: 650px;
    right: 100px;
    position: absolute;
    border-radius: 20px;
    background-color:rgb(148, 102, 234);
}
.name-text input{
  border-radius: 7px;
    margin-left: 42px;
    font-size: 20px;
    text-align: left;
    height: 49px;
    width: 507px;
    border: none;
    padding-left: 16px;
}
.sixth-right h1{
  font-size: 47px;
    color: white;
    font-family: system-ui;
    margin: 152px 40px 50px 40px;
    letter-spacing: 2px;
}
.email2 input{
  padding-left: 16px;
  border-radius: 7px;
    margin-left: 42px;
    font-size: 20px;
    text-align: left;
    height: 49px;
    width: 507px;
    border: none;
}
.message input{
  border-radius: 7px;
    margin-left: 42px;
    font-size: 20px;
    text-align: left;
    /* height: 149px; */
    width: 507px;
    border: none;
    padding: 20px 0 97px 16px;
}
.email2, .message{
  margin-top: 32px;
}
.btn3 button{
  HEIGHT: 49px;
   width: 522px;
   margin: 32px 0 0 43px;
   border-radius: 7px;
   font-size: 19px;
    cursor: pointer;
    background-color: white;
    color: rgb(148, 102, 234);
    font-weight: 700;
    border: none;
    /* border-color: rgb(255, 117, 153); */
}
.btn3 button:hover{
  background-color: rgb(255, 117, 153);
  color: white;
   border: none;
}
.footer{
  background-color: #333333;
  height: 200px;
  width: 100%;
  margin-top: 30px;

}
.footer p{
  color: white;
  text-align: center;
  padding-top: 30px;

}
.footer-content{
  margin-left: 600px;
  width: 20%;
}
.footer h1{
  font-size: 30px;
  margin-left: 600px;
  color: white;
  padding-top: 40px;
}
